
.navbar {
    background: linear-gradient(to right, #0097B8, #0084A1, #01748E, #00586B, #014C5D, #023B47);
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: white !important;
}

.navbar .nav-link:hover {
    color: #f0f0f0 !important;
}